<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<h2>学校列表</h2>
			<ul>
			
			<li v-for="(school,index) in schools">
			学校{{index+1}}
			<ul>
				<li v-for="(vaule,key) of school">{{key}}:&nbsp;{{vaule}}</li>
			</ul>
			</li>
				
			</ul>
		</div>
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					  
				   schools:[
					   {name:'牛津大学',country:'英国',url:'www.ox.ac.uk'},
					   {name:'剑桥大学',country:'英国',url:' www.cam.ac.uk'},
					   {name:'哈佛大学',country:'美国',url:'www.harvard.edu'},
					   {name:'北卡大学',country:'美国',url:'www.unc.edu'},
					   {name:'清华大学',country:'中国',url:'www.pku.edu.cn'},
					   {name:'北京大学',country:'中国',url:': www.tsinghua.edu.cn'}
				  ]
				}
			})
		</script>
	</body>
</html>
